@namespace Gizmo.Client.UI.SteamPayment.Module.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="giz-dialog__content-wrapper">
    <div class="giz-dialog__content"
         onclick="OnClickDialogHandler"
         onclick:stopPropagation="true">
        @ChildContent
    </div>
</div>
